body {
    margin: 0 auto;
    width: 100%;
    background: url(../build/background.jpg) no-repeat;
}

.indent1 {
    margin-left: 3em;
}

ul {
    list-style: none;
}

.result_value {
    background: lightgray;
    border-style: inset;
}

.desktop_note {
    margin-left: 3em;
}

.inline-list ul, .inline-list li {
    display: inline;
}

label {
    cursor: pointer;
}
#wrapper {
    margin: 0 auto;
    width: 1200px;
}
#col1 {
    float:left;
    width:350px;
    padding: 5px;
}
#col2 {
    float:left;
    width:350px;
    padding: 5px;
}
#col3 {
    float:left;
    width:350px;
    padding: 5px;
}
#results {
    clear: both;
}

h4 {
    background: lightgray;
}