[DXR]
wwwroot=/
target_folder=www
# Disable hg since hglib importation is broken
disabled_plugins=hg

[Template]

[mozilla-central]
source_folder=src
object_folder=objdir-mc-opt
build_command=cd $source_folder && make -f client.mk build MOZ_OBJDIR=$build_folder MOZ_MAKE_FLAGS="-s -j$jobs"
#revision=hg id -i -R PWD/src/ | tr -d '+'
# XXX: This should be global, but it doesn't like DXR configs handle global
# plugin vars yet...
plugin_buglink_bugzilla=http://bugzilla.mozilla.org/show_bug.cgi?id=%s
plugin_buglink_name=bugzilla.mozilla.org
